<!DOCTYPE html>
<html>
<head>
  <title>Admin Dashboard</title>
  <link rel="stylesheet" href="../css/admindash.css">
</head>
<body>
	<a href="./homePage.html" class="back-button">Back</a>

    <div class="dashboard">
		<h2>Admin Dashboard</h2>
		<div class="stats">
			<div class="stat">
				<h3>Users</h3>
				<p></p>
			</div>
			<div class="stat">
				<h3>Charities</h3>
				<p>/p>
			</div>
			<div class="stat">
				<h3>Donations</h3>
				<p></p>
			</div>
		</div>
		<!-- <h2>Recent Activity</h2> -->
		<!-- <ul>
			<li>New user registered</li>
			<li>New charity registered: Charity Name</li>
		.	<li>New donation made: $100 to Charity Name</li>
		</ul> -->
	</div>
	<script src="https://cdnjs.cloudflare.com/ajax/libs/axios/1.2.3/axios.min.js"></script>
	<script src="../js/adminDashboard.js"></script>
</body>
</html>
