<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <header>
        <nav>
            <ul>
                <li><a href="/">Shop</a></li>
                <li><a href="/add-product">Add Product</a></li>
                <li><a href="/contactus">Contact Us</a></li>
            </ul>
        </nav>
    </header>

    <main>
        <div>
            <h1>Book A  Call</h1>
            <h3>Book a call and we will reach you</h3>
            <hr>
    
            <form action="">
                <div>
                    <label for="">Name:</label>
                    <input type="text" >
                </div>
                <div>
                    <label for="">Email:</label>
                    <input type="text" >
                </div>
                <div>
                    <label for="">Phone:</label>
                    <input type="tel" >
                </div>
                <div>
                    <label for="">Time for Call:</label>
                    <input type="date" ><input type="time">
                </div>

                <button>Get A Call</button>
            </form>
        </div>
       
        

    </main>
    
</body>
</html>